<ion-header>

  <ion-navbar>
    <ion-title>Somali English dictionary</ion-title>

    <ion-buttons end>
      <button
        ion-button
        [color]="somaliButtonColour"
        (click)="setLanguage('SOM')">
        Somali
      </button>
      <button
        ion-button
        [color]="englishButtonColour"
        (click)="setLanguage('ENG')">
        English
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar
    #term
    (keyup)="search(term.value)"
    (ionClear)="searchClear()"
    ></ion-searchbar>

  <ion-list [virtualScroll]="entries$ | async">
    <ion-item *virtualItem="let word" (click)="gotoWord(word)">

      <div *ngIf="language=='SOM'">
        <p>lx: <strong> {{ word.lx }} </strong></p>
        <p>de: {{ word.de }} </p>
      </div>

      <div *ngIf="language=='ENG'">
        <p>de: <strong> {{ word.de }} </strong></p>
        <p>ls: {{ word.lx }} </p>
      </div>

    </ion-item>
  </ion-list>

</ion-content>
