<ion-header>

  <ion-navbar>
    <ion-title>&nbsp;</ion-title>
    <language-chooser></language-chooser>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-searchbar
    #term
    (keyup)="search(term.value)"
    (ionClear)="searchClear()"
    ></ion-searchbar>


  <ion-list [virtualScroll]="entries$ | async">
    <ion-item *virtualItem="let word" (click)="gotoWord(word)">

      <div *ngIf="language=='SOM'">
        <h1> {{ word.lx }} </h1>
        <h2> {{ word.de }} </h2>
      </div>

      <div *ngIf="language=='ENG'">
        <h1> {{ word.de }} </h1>
        <h2> {{ word.lx }} </h2>
      </div>

    </ion-item>
  </ion-list>

</ion-content>
