<ion-header>

  <ion-navbar>
    <ion-title>Somali English dictionary</ion-title>
    <language-chooser></language-chooser>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div *ngIf="syncStatus=='ready'">
    <p>checking for local data</p>
  </div>

  <div *ngIf="syncStatus=='sync'">
    <p>getting from firebase</p>
  </div>

  <div *ngIf="showAlphabet">


    <button ion-button (click)="gotoWordlist('all')"> all </button>

    <div *ngIf="language=='SOM'">
      <button
        ion-button
        *ngFor="let letter of uniqueLettersSOM"
       (click)="gotoWordlist(letter)">
       {{letter}}
     </button>
   </div>

    <div *ngIf="language=='ENG'">
      <button
        ion-button
        *ngFor="let letter of uniqueLettersENG"
       (click)="gotoWordlist(letter)">
       {{letter}}
     </button>
   </div>
  </div>



</ion-content>
